body {
    font-family: Arial, sans-serif;
    background-color: #757474;
    text-align: center;
    margin-top: 50px;
}

.container {
    background-color: rgb(212, 212, 212);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin: 0 auto;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button:disabled {
    background-color: #9e9e9e;
}

button:hover {
    background-color: #45a049;
}

.dice-result {
    margin-top: 20px;
}

.player-sections {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin-top: 20px;
}

.player-section {
    background-color: #cccccc;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); */
}

#gameStatus {
    margin-top: 20px;
    font-weight: bold;
}

footer p {
    margin-top: 15px;
    font-size: 15px;
}

@media (max-width: 768px) {

    .player-section {
        width: 80%; 
        margin-bottom: 20px;
    }
}

@media (max-width: 426px) {

    .player-sections {
        flex-direction: column; 
        align-items: center;
    }
    
    body {
        margin-top: 20px;
    }

    .container {
        width: 88%; 
    }

    .dice-result p {
        font-size: 12px;
    }
}

@media (max-width: 376px) {
    h1 {
        font-size: 25px;
    }

    h2, h3 {
        font-size: 20px;
    }

    button {
        font-size: 10px;
    }
    footer p {
        font-size: 10px;
    }
}